<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
        <h2 class="oe_slogan">Exclude week-ends from the leave</h2>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="company_sunday_saturday.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
You can choose if your company automatically remove the week ends in the holiday computation.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
        <h2 class="oe_slogan">Exclude Special Days from the leave</h2>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="create_legal_holiday.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
You can also choose to remove special days (new year, christmas, ...)
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
        <h2 class="oe_slogan">Total days is well computed</h2>
        </div>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="total_compute.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
If employees take an holiday with a week-end day or a "Special Day" in the selected period, the total amount of days he takes will be taken care of.
In this example, the leave the employee is trying to take includes two week-ends days and a "special day". Because of this, the total amount of days that will be deducted is only 2
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span6">
            <div class="oe_quote">
                <cite class="oe_cite oe_clearfix">
                    <img class="oe_photo" src="niboo.png">
                    <div class="oe_author">Focus on your business, we keep IT running</div>
                    <div class="oe_job"><a href="http://www.niboo.be" target="_blank">niboo.be</a></div>
                </cite>
            </div>
        </div>
        <p>
            <h2>About Niboo</h2>
            Niboo is a technology company, specialized in developing business solutions on your needs. Niboo combines expertise in both IT and management consulting. As an active partner in the Odoo Community, Niboo also contributes to the evolution of the open-source business solutions.
        </p>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
